<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="/CSS/success_cancel.css" type="text/css" />
</head>
<body>
  <section>
    <h3><br><br>
      Thank you for your order <%= user_name %>.
      Please click the link below to schedule onboarding call.</h3><br><br>
      <form action= "<%= meeting %>" target="_blank"> <button>Schedule onboarding call</button></form><br>
      <p>For any support related queries:
      <a href="mailto:averagethamizhan@gmail.com">averagethamizhan@gmail.com</a>
      </p>
  </section>
</body>
</html>