@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 1.5rem 0;
}

@media screen and (max-width: 820px) {
    .show-on-desktop {
        display: none;
    }
}

@media screen and (min-width: 821px) {
    .hide-on-desktop {
        display: none;
    }
}


navbar {
    overflow: hidden;
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(249, 246, 246);
    color: white;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 10%; 
    list-style: none;
    border: 1px solid white;

}

.nav-center li {
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

}

.nav-right li {
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

#showcase {
    background: white no-repeat center center/cover;
    height: 75vh;

}

 #showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
} 
 

.l-heading {
    padding-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
}

.lead {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    justify-content: center;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: black;
}

.lead .textcolor-red {
    color: #E72621;
}

.lead .textcolor-green {
    color: green;
}
.button-wrapper{
    width:50%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
   }
   .button-wrap{
    width:40%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
   }
.coaching-btn {
        width: 45%;
        margin: 0px auto;
        display: block;
        height: auto;
        white-space: normal;
        word-wrap:break-word;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* line-height: 60px; */
        text-align: center;
        color: white;
        background: #15914d;
        border: 1px solid #000000;
        border-radius: 10px;
        cursor:pointer;
        transition: all .3s ease;
    }
.Averageapp-button{
        width: 45%;
        margin: 0 auto;
        display: block;
        height: auto;
        white-space: normal;
        word-wrap:break-word;
        padding-top: 20px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        /* line-height: 60px; */
        text-align: center;
        color: white;
        background: #15914d;
        border: 1px solid #000000;
        border-radius: 10px;
        cursor:pointer;
        transition: all .3s ease;
        }       
#section-3 h3 {
    padding-top: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #000000;
}

#section-3 p {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #131313;

    padding-bottom: 4rem;
}

input[type=button],
select {
    margin: 0 auto;
    display: block;
    width: 25%;
    height: 95px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    color: white;
    background: #15914d;
    border: 1px solid #000000;
    border-radius: 10px;
}


#footer {
    background: #f3f0f0;
    height: 45vh;
    overflow: hidden;
    width:100%
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 4rem 4rem;
    overflow: hidden;
    display: flex;
}

.footer-logo {
    width: 53px;
    height: 45px;
}

.m-heading {
    padding: 1rem 4rem;
    width: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
   
}

.nav-wrap1 ul {
    padding: 0rem 4rem;
    flex: 1; 
    width: auto;
    list-style: none;
    height: 517px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
   
}

.nav-wrap2 ul {
    flex: 1; 
    width: auto;
    list-style: none;
    padding: 0rem 4rem;
    height: 517px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.nav-wrap3 ul {
    flex: 1;
    width: auto;
    list-style: none;
    padding: 0rem 4rem;
    height: 517px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}


.copyright-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8B959D;
    padding-top: 12rem;
}